@CHARSET "ISO-8859-1";



/** Select Avatar Blocks **/
#block-alter-ego-alter-ego-select-avatar .avatar-swor-select-block {
	background-position: center;
}

#block-alter-ego-alter-ego-select-avatar .avatar-swor-select-block .content {
	padding-top: 17px;
  min-height: 130px;
  color: silver;
}

#block-alter-ego-alter-ego-select-avatar #select-avatar-block-name {
	text-shadow: none;
	font-size: 1.5em;
	color: white;
}

#block-alter-ego-alter-ego-select-avatar .swor-select-block-text-wrapper .field-name-field-level {
	padding-top: 30px;
}

/** Pulldown Renders **/
#select-avatar-block-pulldown .pulldown-portrait {
	float: left;
}


#select-avatar-block-pulldown .swor-pulldown-text-wrapper {
	margin-left: 50px;
}


/** Popup Renders **/
#alter-ego-popup IMG.swor-popup-img {
	float: left;
	background: black;
	border: 1px solid grey;
}

#alter-ego-popup .popup-frame {
	margin-left: 50px;
	background: black;
	width: 250px;
	min-height: 52px;
	border: 1px solid silver;
}